	@charset "UTF-8";



	
@font-face {
    font-family: 'MyFont';
    src: url('ACC어린이하늘맑은체.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'MyFont', sans-serif;
	background-image:url("../images/bg_1.jpg") 
}